.sec5{
    display: flex;
    margin-top: 50px;
    height: 100vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
.contact{
    text-align: center;

}
.cont-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    border: 2px solid black;
    margin-bottom: 100px;
    padding: 20px 30px;
    border-radius: 20px;

}
.cont-data div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.cont-data a{
    text-decoration: none;
    color: black;
}
.cont-data img{
    border-radius: 20px;
    width: 30px;
}
.nav-bar2 a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 200;
    color: black;
    transition: all .3s ease-in-out;

}
.nav-bar2 a:hover{
    color: darkorange;
    text-decoration: underline;
    text-underline-offset: 20px;
}
.item{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
footer p{
    font-weight: 30px;
    font-weight: 400;
}

@media(max-width:767px){
    .sec5{
        padding: 0;
    }
    .cont-data{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    width: 270px;

}
.cont-data img{
    width: 20px;
}
.cont-data div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.item{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    gap:30px
}
.nav-bar2 a{
    font-size: 16px;
    font-weight: 300;
    transition: all .3s ease-in-out;

}
    
}