.sec3{
    padding: 100px 200px;
    height: 100vh;
}
.exp{
    text-align: center;
    margin-bottom: 50px;
}
.sec3-data{
    display: flex;
    gap:30px;

}
.box2{
    border: 2px solid black;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
}
.box2>:nth-child(2){
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}
.box2 .title{
    font-size: 18px;
    font-weight: 600;
}
.box2-1 img{
    width: 20px;
}
.box2-1{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}
.box2-1>:nth-child(2){
    display: flex;
    flex-direction: column;
}
.box2-1>:nth-child(2)>:nth-child(1){
    font-weight: 600;
}

@media(max-width:767px){
   .sec3{

    padding: 5px;
    margin-bottom: 50px;

}
.exp{
    text-align: center;
    margin-bottom: 50px;
}

.sec3-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box2{
    border: 2px solid black;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
}
.box2>:nth-child(2){
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}
.box2 .title{
    font-size: 16px;
    font-weight: 400;
}
.box2-1 img{
    width: 20px;
}
.box2-1{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}
.box2-1>:nth-child(2){
    display: flex;
    flex-direction: column;
}
.box2-1>:nth-child(2)>:nth-child(1){
    font-size: 16px;
    font-weight: 600;
}
}
@media(max-width:1024px){
   .sec3{
    height: 100%;
    padding: 5px;
    margin-top: 50px;


}
.exp{
    text-align: center;
    margin-bottom: 50px;
}

.sec3-data{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    border: 2px solid black;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
}
.box2>:nth-child(2){
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}
.box2 .title{
    font-size: 18px;
    font-weight: 600;
}
.box2-1 img{
    width: 20px;
}
.box2-1{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}
.box2-1>:nth-child(2){
    display: flex;
    flex-direction: column;
}

}