
* {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html{
    scroll-behavior: smooth;
}
.sec1{
    margin-top: 10px;
    padding: 0 100px;
    height: 100vh;
    
}
.nav-bar{
 position: sticky;
 top: 0;
 background-color: white;
padding: 0 100px;
display: flex;
justify-content: space-between;
z-index: 1;

}
h1{
    color: darkorange;
}
span{
    text-transform: capitalize;
}
.bar{
    display: none;
}
.items{
list-style-type: none;
display: flex;
gap: 100px;
justify-content: center;
align-items: center;
}

.items li a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in;
    
}
.items li a:hover{
    color: darkorange;
    text-decoration: underline;
    text-decoration-color: darkorange;
    text-underline-offset: 10px;
}

.sec1-1{
    display: flex;
    gap: 10%;
    margin-top: 150px;
}
.sec1-data{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 
}
.sec1-data > :nth-child(3){
    font-size: 20px;
    font-weight: 600;
}
.sec1-data>:nth-child(2){
    color: darkorange;
}


.sec1-img img{
    width: 380px;
    height: 380px;
    border-radius: 50%;
}
.content{
    width: 100%;
}

.btn>:nth-child(1){
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    margin-right: 20px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: 2px solid black;
}
.btn>:nth-child(2){
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    background-color: black;
    color: white;
    border: none;
    transition: all .5s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}
.btn>:nth-child(1):hover{
    background-color: black;
    color: white;
    
}
.btn>:nth-child(2):hover{
    background-color: darkorange;
    color: white;

}

.social img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.social img:hover{
    width: 31px;
    height: 31px;
}
@media(min-width:1025px){
@keyframes appear{
    from{
        opacity: 0;
       transform: translateX(-200px);


    }
    to{
        opacity: 1;
       transform: translateX(0px);
    }
}
.sec2,.sec3,.sec4,.sec5{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
}

@media(max-width:767px){
    *{
        padding: 0;
        margin: 0;
    }
    .bar{
        position: absolute;
        right: 10px;
        top: 18px;
        font-size: 10px;
        font-weight: bolder;
        color: darkorange;
        display: block;
        
        
    }
    .nav-bar h1{
        font-size: 25px;
    }
    .sec1{
     margin-top: 10px;
     height: 0vh;
    }
.nav-bar{
display: block;
padding: 15px;
}
.items{
list-style-type: none;
display: block;
visibility: hidden;
position: absolute;
right:0;
padding: 5px;
transition: all .2s ease-in-out;
opacity: 0;
}


.items.active{
    display: flex;
    flex-direction: column;
    visibility:visible;
    gap: 5px;
    margin-right:10px;
    transition: all 1s ease-in-out;
    width: 200px;
    background-color: darkorange;
    opacity: 10;
    margin-top: 10px;
}
.items li a{
    background-color: white;
    width: 100%;
    padding:  20px 30px;
   text-align: center;
}
li{
    padding: 10px;
}
.items li a:hover{
    background-color: orange;
    color: white;
    text-decoration: none;
}
.items li:hover{
    background-color: orange;

}
.sec1-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.sec1-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.sec1-data{
margin-top: 20px;
 gap: 10px;
 text-align: center;
 margin-bottom: 20px;
 
}
.content{
    text-align: justify;
}


}
@media(max-width:1024px){
    *{
        margin: 0;
        padding: 0;
    }

    .bar{
        position: absolute;
        right: 20px;
        top: 13px;
        font-size: 20px;
        font-weight: bolder;
        color: darkorange;
        display: block;
    
        
        
    }
    .sec1-data h1{
        font-size: 25px;
    }
    .sec1{
        height: 100%;
        padding: 5px 25px;
}
.nav-bar{
    padding:10px 20px;


}
.items{
 margin-top: 20px;
list-style-type: none;
display: block;
visibility: hidden;
position: absolute;
right:0;
margin-right: 10px;
padding: 5px;
transition: all .1s ease-in-out;
opacity: 1;

}
.items.active{
    display: flex;
    flex-direction: column;
    visibility:visible;
    gap: 5px;

    transition: all .5s ease-in-out;
    width: 200px;
    background-color: darkorange;
    opacity: 10;
    margin-top: 30px;
}
.items li{
    background-color: white;
    padding: 0;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
.items li a:hover{
    background-color: orange;
    color: white;
    text-decoration: none;
}
.items li:hover{
    background-color: orange;

}
.sec1-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.sec1-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.sec1-data{
    margin-top: 20px;
 gap: 10px;
 text-align: center;
 margin-bottom: 20px;
 
}
.content{
    text-align: justify;
    
}
.btn{
    margin-top: 30px;
    margin-bottom: 30px;
}


}
